@use 'src/styles/vars';
.main {
  
  &__section--presentation {  
    width: 100vw;
    margin: auto;
  }

  &__image {
    width: 95vw;
    margin: 2.5vw;  
  }

  &__section--presentation--title {
    margin: auto;
  }

  &__section--presentation--paragraphe {
    margin: auto 1rem;
  }

  &__section--presentation--link--contener {
    margin-top: 1rem;
    margin-left: 1rem;
  }

  // SECTION REGLES

  &__rules--title {
    margin: auto;
  }

  &__rules--paragraphe {
    margin: auto 1rem;
  }

  &__rules--contener {
    margin-top: 1rem;
    margin-left: 1rem;
  }

  // CARD

  &__cards--classes {

    margin: 0.5rem;
  }

  &__cards--races {

    margin: 0.5rem;
  }
  &__random {
    display: none;
  }

}


@media screen and (min-width: 1024px)
{
  .main{

    &__sections{
      margin-top: 1rem;
      width: 100%;
      height: 50%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
           
    }

    // SECTION DE GAUCHE (presentation)

    &__section--presentation {
      width:45%;
      display: flex;
      flex-wrap: wrap;
      border: solid 1px black;
    }

    &__image {
      display: block;
      width: 40%;
      height: 30%;
      margin: 0;
    } 

    &__section--presentation--title{
      width: 60%;
      font-size: 2em;

    }

    &__section--presentation--paragraphe{
      width: 100%;
      font-size: 1rem;
      margin-top: 1rem;
      // margin: 0;
    }

    &__section--presentation--link {
      font-style: oblique;
      text-align: center;
    }
    
    // Section de Droite (rules)
    &__rules {
      width: 45%;
      border: solid 1px black;
      margin-right: 1.5rem;
    }

    // Cartes des races et classes
    &__random {
      margin-top: 1rem;
      display:block ;
    }

    &__random--classes {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 1rem;
    }

    &__random--races {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 1rem;
    }

     
  }

}
