@use '../../styles/vars';
.races{
  &__cards{
   margin-top: 5em;
    
  }
  &__title {
    font-family: vars.$policeTitle;
    font-size: 2.5rem;
    text-align: center;
  }
}


@media screen and (min-width: 768px)
{
  .races{
  
  flex-wrap: wrap;
  position: relative;
  
  &__cards{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
   
}
.races::before{
  margin-top: 5em;
  content: "";
  background-image: url(../../assets/images/fighter.png);
  background-repeat: no-repeat;
  background-size: 150vw;
  bottom: 0;
  left: 0;
  margin-left: -50vw;
  margin-top: 2vw;
  opacity: .8;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.races--right::before{
  margin-top: 5em;
  content: "";
  background-image: url(../../assets/images/fighter.png);
  background-repeat: no-repeat;
  background-size: 150vw;
  bottom: 0;
  left: 0;
  margin-left: -50vw;
  margin-top: 2vw;
  opacity: .8;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.races::after{
  margin-top: 5em;
  content: "";
  background-image: url('../../assets/images/archery.png');
  background-repeat: no-repeat;
  background-size: 80vw;
  bottom: 0;
  left: 0;
  margin-left:50vw;
  margin-top: 40vw;
  opacity: .8;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.races--right::after{
  margin-top: 5em;
  content: "";
  background-image: url(../../assets/images/archery.png);
  background-repeat: no-repeat;
  background-size: 80vw;
  bottom: 0;
  left: 0;
  margin-left:50vw;
  margin-top: 40vw;
  opacity: .8;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
}
@media screen and (min-width: 990px){
  .races{
      flex-wrap: wrap;
      position: relative;
      margin-top: vars.$gutter * 4;
    
    &--right{
      flex-wrap: wrap;
      position: relative;
      margin-top: vars.$gutter * 4;
    }
    
    margin-top: vars.$gutter * 4;
      &__cards{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 95%;

      }
      &::before{
        background-image: url(../../assets/images/fighter.png);
        background-size: 111vw;
        margin-left: -26vw;
        margin-top: -2vw;
        opacity: 0.7;
      } 
      &--right::before{
        background-image: url(../../assets/images/fighter.png);
        background-size: 111vw;
        margin-left: -26vw;
        margin-top: -2vw;
        opacity: 0.7; 
      } 
     
    }
    
    .card{
      
      width: 30%;
      
      
      &__img {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top:-3em;
        height: 17em;
    }
  
    &__excerpt{
      margin-left: inherit;
    }
    
  }
}
@media only screen and (min-width : 1824px) {
  .races{
    &__cards::before{
      margin-top: -15vw;
      margin-left: 20vw;
      background-size: 70vw;
    }
    &::before{
      background-image: url(../../assets/images/fighter.png);
      background-size: 79vw;
      margin-left: -2vw;
      margin-top: -2vw;
      opacity: 0.7;
    } 
    &--right::before{
      background-image: url(../../assets/images/fighter.png);
      background-size: 79vw;
      margin-left: -2vw;
      margin-top: -2vw;
      opacity: 0.7; 
    } 
    &::after{
      margin-top: 5em;
      content: "";
      background-image: url(../../assets/images/archery.png);
      background-repeat: no-repeat;
      background-size: 50vw;
      bottom: 0;
      left: 0;
      margin-left: 70vw;
      margin-top: -15vw;
      opacity: .8;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
    &--right::after{
      margin-top: 5em;
      content: "";
      background-image: url(../../assets/images/archery.png);
      background-repeat: no-repeat;
      background-size: 50vw;
      bottom: 0;
      left: 0;
      margin-left: 70vw;
      margin-top: -15vw;
      opacity: .8;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }
  
  }
  