@use '../../styles/vars';

.subraces{
  &__mainclass--title{
    display: initial;
    margin-left: vars.$gutter;
    font-weight: 800
  }
  &__img {
    width: 160px;
    height: 90%;
    margin-top: 25%;
    margin-bottom: 15%;
  }
  &__mainclass--description{
    margin-left: vars.$gutter*0.5;
    margin-right: vars.$gutter*0.5;
    margin-top: vars.$gutter;
  }
  &__title{
    text-align: center;
    font-weight: 800
  }
  &__presentation--name{
    text-align: center;
    font-weight: 600;
    margin-top: vars.$gutter;
  }
  &__presentation--description{
    margin-top: vars.$gutter;
    margin-left: vars.$gutter*0.5;
    margin-right: vars.$gutter*0.5;
  }
  &__presentation--trait{
    margin-top: vars.$gutter;
    margin-left: vars.$gutter*0.5;
    margin-right: vars.$gutter*0.5;
  }
  &__presentation--caracteristics--element{
    margin-top: vars.$gutter;
    text-align: center;

  }
}
// .subraces {
//   margin-top: 8rem;
//   &__mainclass {
//     text-align: center;
//   }
//   &__img {
//     width: 50%;
//   }
// }
// h2 {
//   padding: vars.$gutter * 2;
//   text-decoration: none;
// }
// @media  all and (min-width:768px) {
//   #subraces {
//       text-align: center;
//     }
//     .subraces__presentation {
//      display: flex; 
//     }
// }
