@use '../../../styles/vars';

.choices {
  display: flex;
  flex-direction: column;

  &__results {
    display: flex;
    border: 1px solid black;
  box-shadow: 1em 0 .4em vars.$colorTitle;

    padding: vars.$gutter;
    margin: vars.$gutter *2;
    &--img {
      width: 50%;
    }
  }
}

.choices select, .choices input {
  width: 50%;
  margin: vars.$gutter;
  margin-left: auto;
  margin-right: auto;
}
@media screen and(min-width: 768px) {
  .choices__results {
    display: flex;
    justify-content: space-around;
    &--list {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}
