@use '../../../styles/vars';

.equipment {
  border: 1px solid black;
  box-shadow: 1em 0 .4em vars.$colorTitle;
  margin: vars.$gutter * 2;
  &__title {
    margin: vars.$gutter;
  }
  &__paragraphe {
    text-align: left;
    padding: vars.$gutter;
    margin: vars.$gutter;
  }
  &__list--item {
    margin: vars.$gutter;
    &--span {
      font-weight: 700;
    }
  }
}
