@use '../../styles/vars';

.creator {
  margin-top: 8rem;
  text-align: center;
}

.choices {
  display: flex;
  flex-direction: column;
  &__results {
    display: flex;
    border: 1px solid vars.$colorTitle;
    padding: vars.$gutter;
    margin: vars.$gutter *2;
    &--img {
      width: 50%;
    }
  }
}

.caracteristics {
  text-align: center;
  &__statistics {
  border: 1px solid vars.$colorTitle;
  padding: vars.$gutter;
  margin: vars.$gutter;
  }
  &__principals {
  border: 1px solid vars.$colorTitle;
  padding: vars.$gutter;
  margin: vars.$gutter;
    
  }
  &__bonus {
  border: 1px solid vars.$colorTitle;
  padding: vars.$gutter;
  margin: vars.$gutter;
  }
  &__personality {
    border: 1px solid vars.$colorTitle;
  padding: vars.$gutter;
  margin: vars.$gutter;
  }
  &__attack {
    border: 1px solid vars.$colorTitle;
  padding: vars.$gutter;
  margin: vars.$gutter;
  }
  &__equipment {
    border: 1px solid vars.$colorTitle;
  padding: vars.$gutter;
  margin: vars.$gutter;
  }
  &__traits {
    border: 1px solid vars.$colorTitle;
  padding: vars.$gutter;
  margin: vars.$gutter;
  }
  &__capacities {
    border: 1px solid vars.$colorTitle;
  padding: vars.$gutter;
  margin: vars.$gutter;
    &--checkbox {
      display: flex;
      justify-content: space-around;

    }
  }
  &__language {
    border: 1px solid vars.$colorTitle;
  padding: vars.$gutter;
  margin: vars.$gutter;
  }
}
.throws {
  display: flex;
  flex-direction: column;
  border: 1px solid vars.$colorTitle;
  padding: vars.$gutter;
  margin: vars.$gutter;
  &__div {
    display:flex;
    justify-content: space-around;
    align-items: flex-start;

  }
}
.capacities {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.capacities div {
  padding: vars.$gutter;
}


//Section of statisctic
.statistics{
  width: 90%;
  border: 1px solid #000000;
}
.stats{
  &__health-all-stats{
    border: 1px solid #000000;
  }
  &__health{
    text-align: center;
  }
  &__icon{
    width: 5vh;
  }
  &__armor{
    border: 1px solid #000000;
    width: 30%;
  }
  &__initiative{
    border: 1px solid #000000;
    width: 30%;
  }
  &__speed{
    border: 1px solid #000000;
    width: 30%;
  }
  &__dice{
    border: 1px solid #000000;
  }
  &__die-throw{
    border: 1px solid #000000;
  }
}
