@use '../../styles/vars';

.creator {
  // margin-top: 8rem;
  text-align: center;
}

.caracteristics {
  text-align: center;
  &__attack {
    border: 1px solid vars.$colorTitle;
  padding: vars.$gutter;
  margin: vars.$gutter;
  }
  &__capacities {
    border: 1px solid vars.$colorTitle;
  padding: vars.$gutter;
  margin: vars.$gutter;
    &--checkbox {
      display: flex;
      justify-content: space-around;

    }
  }
 
}






