@use '../../../styles/vars';

.personality {
  border: 1px solid black;
  box-shadow: 1em 0 .4em vars.$colorTitle;
  margin: vars.$gutter;
  padding: vars.$gutter;
  &__list {
    text-align: left;
    margin: vars.$gutter;
  }
}
