@use 'src/styles/vars';

.legal {
  &__title {
    font-family: vars.$policeTitle;
    text-align: center;
    margin: vars.$gutter * 2;
    font-size: 2rem;
  }
  &__paragraphe {
text-align: center;
  }
  &__section {
    // margin-top: vars.$gutter * 2;
    width: 90%;
    margin:vars.$gutter * 2 auto ;
    &--title {
      font-family: vars.$policeTitle;
      font-size: 1.5rem;
      margin-top: vars.$gutter;
    }
    &--paragraphe {
      margin-top: vars.$gutter;
    }
  }
}
