
$gutter: 16px;
$main-background:rgba(253, 253, 253, 0.822);
$colorTitle:crimson;
$colorText: crimson;
$colorLink: crimson;
$colorCardTitle: crimson;
$colorCardText: crimson;
$colorCardLink: crimson;
$policeTitle: 'the_wild_breath_of_zeldaRg';
$policeText:'breathe_fireregular';
$boxShadow: rgba(19, 17, 17, 0.822);
$mainBackgroundColor: rgba(19, 17, 17, 0.822);