
$gutter: 16px;
$colorTitle:crimson;
$colorText: crimson;
$colorLink: crimson;
$colorCardTitle: crimson;
$colorCardText: crimson;
$colorCardLink: crimson;
$policeTitle: 'the_wild_breath_of_zeldaRg';
$policeText:'breathe_fireregular';
$cardBoxShadow: rgba(232, 239, 29, 0.822);
$mainBackgroundColor: rgba(0, 0, 0, 0.822);
$fontCardBackground : url('../../assets/images/font-card.jpg')