@use 'reset';
@use 'vars';

body {
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  
  // background-image: url('../assets/images/kisspng-paper-scroll-clip-art-parchment-5b180fc68b9bd8.0351502215283035585719.png');
  // background-repeat: no-repeat;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
