@use 'reset';
@use 'vars';

@font-face {
  font-family: 'the_wild_breath_of_zeldaRg';
  src: url('../assets/fonts/thewildbreathofzelda-15lv_2-webfont.woff2') format('woff2'),
       url('../assets/fonts/thewildbreathofzelda-15lv_2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {

  font-family: 'breathe_fireregular';
  src: url('../assets/fonts/breathefire-65pg-webfont.woff2') format('woff2'),
       url('../assets/fonts/breathefire-65pg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* body {
  height: 100vh;
  width: 100vw;
  font-family: sans-serif; */
  
  // background-image: url('../assets/images/kisspng-paper-scroll-clip-art-parchment-5b180fc68b9bd8.0351502215283035585719.png');
  // background-repeat: no-repeat;
/* } */

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
