@use 'src/styles/vars';
main {
  padding: vars.$gutter * 2;
  font-size: large;

}
ul {
  margin-bottom: vars.$gutter * 2;
  text-align: left;
}

span {
  color: vars.$colorTitle;
  font-weight: bold;

}

li {
  margin-top: vars.$gutter;
}
header {
  height: 150px;
}
.subtitle {
  text-decoration:wavy;
}
