@use 'src/styles/vars';
.header {
  color: rgb(177, 17, 17);
  background: linear-gradient( rgb(41, 39, 39), rgb(177, 17, 17));
  border: solid 1px #48435C;
  font-weight: bolder;

  &__label, #toggle{
    display:none;
  }

  &__title {
    text-align: center;
    margin: vars.$gutter;
  }

  &__nav--menu {
    display: flex;
  }

  @media all and (max-width: 990px){
    padding: 1rem;
    &__nav {
    
    display: flex;
    justify-content: flex-end;
    
  
    }
    &__nav--menu{
      display: none;
      flex-direction: column;
    }

    &__label{
      display: block;
      cursor: pointer;
    }

    #toggle:checked .header__nav--menu{
      display: flex;
    }
  }
}

.main {
  // margin-top: vars.$gutter *4;
  // margin: vars.$gutter *2;
  padding: vars.$gutter;
  background: #af8d53;

  &__section--presentation {
    margin-bottom: vars.$gutter ;
    background: #75411f;
  }

  &__regles {
    margin-bottom: vars.$gutter ;
    background: #a26b2b;

  }
}

.aside__classes {
  margin-bottom: vars.$gutter;
  display: flex;
  flex-direction: column;
  background: #75411f;

}

.aside__races {
  display: flex;
  flex-direction: column;
  background: #a26b2b;

}

.footer {
  text-align: center;
  padding: vars.$gutter;
  &__list li {
    padding: vars.$gutter *0.5;
  }
}
