@use 'src/styles/vars';


.main {
  // margin-top: vars.$gutter *4;
  // margin: vars.$gutter *2;
  padding: vars.$gutter;
  background: #af8d53;
  min-height: 200vh;
  padding: 6rem 1rem 1rem;

  &__section--presentation {
    margin-bottom: vars.$gutter ;
    background: #75411f;
  }

  &__regles {
    margin-bottom: vars.$gutter ;
    background: #a26b2b;

  }
}

.aside__classes {
  margin-bottom: vars.$gutter;
  display: flex;
  flex-direction: column;
  background: #75411f;

}

.aside__races {
  display: flex;
  flex-direction: column;
  background: #a26b2b;

}

.footer {
  text-align: center;
  padding: vars.$gutter;
  &__list li {
    padding: vars.$gutter *0.5;
  }
}
