@use 'src/styles/vars';

// h1,h2,h3{
//   font-family: 'Tapestry', cursive;
//   text-align: center;
//   font-size: 2em;
// }

// .home__right {
//   display: none;
// }

// @media screen and (min-width: 1024px) {
//   .home {
    
  
//   }

  
  
// }


