@use '../../styles/vars';
.logout {
  display: flex;
  justify-content: space-between;
  // margin-top: 1rem;
  // margin-bottom: 1rem;
  // margin-right: 1rem;
  // margin-left: 1rem;
  margin: 1rem;
  &__texte {
    color: crimson;
    padding: 0.5rem;
  }

  &__button {
    border: solid 2px crimson;
    background-color: black;
    color: crimson;
    padding: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .logout {
    width: 90%;
    margin: 2rem auto;
    &__texte, &__button {
      margin: vars.$gutter;
    }
  }
  
}
