.header{
  width: 100vw;
  // background: linear-gradient(to bottom right, rgb(41, 39, 39), 70%, rgb(177, 17, 17) );
  height: 10vh;
  // position: fixed;
  // background-image: url(../../assets/images/logo.png);
  background-image: url(../../assets/images/logo-mobile.png);
  height: 10vh;
  width: 100vw;
  background-position: center;
  margin-top: 3vw;
  margin-bottom: 3vw;


  &__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top:0.6rem;
  }
  
  &__title{    
    text-align: center;
    font-size:1.3em;
    color:crimson;
    text-shadow: rgb(255, 255, 255) 1px 1px 10px;
    margin-top: 0.8rem;
    
  }

}
@media screen and (min-width: 1024px){
  .header{
    width: 100%;
    position: relative;
    height: 12vh;
    width: 100vw;
    background-image: url(../../assets/images/logo-definitive.png);
    background-repeat: no-repeat;
  
  }
}

