.header{
  display: flex;
  position: fixed;
  top: 0;
  &__logo{
    width: 25%;
    z-index: 2;
  }
}
@media screen and (min-width: 990px){
  .header{
    position:relative;
    &__logo{
     width: 13%;
     position: absolute;
     right: 0;
    }
  }
}

