@use '../../styles/vars';

.subclasses {

  &__img {
    width: 160px;
    height: 90%;
    margin-top: 25%;
    margin-bottom: 15%;
    margin-left: 120px;
  }
  &__mainclass--title {
    // display: initial;
    margin-left: vars.$gutter;
    // font-weight: 800;
    font-family: vars.$policeTitle;
    text-align: center;
    font-size: 2.5rem;
  }
  &__paragraphe{
    margin-left: vars.$gutter*0.5;
    margin-right: vars.$gutter*0.5;
    margin-top: vars.$gutter;
  }
  &__title{
    text-align: center;
    // font-weight: 800;
    font-family: vars.$policeTitle;
    font-size: 2rem;
    margin: vars.$gutter * 2;
  }
  &__presentation--title{
    margin-top: vars.$gutter;
    margin-bottom:vars.$gutter ;
    text-align: center;
    font-weight: 400;
  }
  &__presentation--descritpion{
    margin-right: vars.$gutter*0.5;
    margin-left: vars.$gutter*0.5
    
  }
}

