@use '../../styles/vars';

.footer {
  height: 200px;
  background-image: url('../../assets/images/footer-transparency.png');
  background-size: cover;
  background-repeat: no-repeat;

  &__background {
    height: 100%;
    align-items: end;
  }

  &__list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    // padding: vars.$gutter;
    margin-top: vars.$gutter * 3;
    &--item {
      margin: vars.$gutter;
      color: vars.$colorTitle;
      font-family: vars.$policeTitle;
    }
  }
}
@media screen and(min-width:375px) {
.footer{
  height: 250px;
  background-size: contain;
  &__list{
    display: flex;
    justify-content: space-evenly;
  }
  &__background{
    display: flex;
    align-items: center;
  }
}
  
}
@media screen and(min-width:590px) {
  .footer {
    height: 300px;

    &__list {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
}
@media screen and(min-width:768px) {
  .footer {
      height:437px;
      margin-top: -12vw;
  &__list{
    justify-content: space-evenly;
  }    
}
}

@media screen and(min-width:1024px) {
  .footer {
    height:588px ;

    &__list {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
}

@media screen and(min-width:1440px) {
  .footer {
    height: 800px;
  }
}

@media screen and(min-width:1700px) {
  .footer {
    height: 1100px;
    font-size: 2rem;
  }
}

@media screen and(min-width:2000px) {
  .footer {
    height: 800px;
  }
}
