@use '../../../styles/vars';

//Section of statisctic


.statistics{
  // width: 90%; 
  border: 1px solid black;
  box-shadow: 1em 0 .4em vars.$colorTitle;
  font-size: small;     // --------------------------Font-size of the section
  padding: vars.$gutter;
  margin: vars.$gutter * 2;             
}
.stats{
  &__list{
    display: flex;
    justify-content: space-around;
  }
  &__health-all-stats{
    border: 1px solid #000000;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: vars.$gutter;
    
  }
  &__health{
    text-align: center;
  }
  &__icon{
    width: 4vh;
  }
  &__armor{
    border: 1px solid #000000;
    width: 30%;
    text-align: center;
  }
  &__initiative{
    border: 1px solid #000000;
    width: 30%;
    text-align: center;
  }
  &__speed{
    border: 1px solid #000000;
    width: 30%;
    text-align: center;
  }
  &__dice{
    border: 1px solid #000000;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin: vars.$gutter;
    text-align: center;
  }
  &__die-throw{
    border: 1px solid #000000;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: vars.$gutter;
  }
  &__die-save{
    text-align: center;
  }
}
.circle{
  height: 12px;
  width: 12px;
  background-color: #fff7f7;
  border-radius: 50%;
  display: inline-block;
  border: solid black;
  margin-left: 1vh;

  &__success{
    margin-left: 1vh;
    display: flex;
  }
  &__loose{
    margin-left: 1vh;
    display: flex;
  }
}
@media screen and (min-width: 990px){
.statistics{
  display: flex;
}
  .stats{
&__speed{
  height: auto;
  padding: 1vw;
}
&__list{
  margin-top: auto;
  margin-bottom: auto;
}
&__initiative{
  height: auto;
  padding: 1vw;
}
&__armor{
  height: auto;
  padding: 1vw;
}
    
&__health-all-stats{
  width: 40%;
  margin: 16px;
  
}
&__dice{
padding: 1vw;
width: 25%;
}
&__die-throw{
  padding: 1vw;
width: 25%;
margin: 16px;
}
}
}
