@use 'src/styles/vars';
.login {
  border: 1px solid grey;
  background: linear-gradient(to bottom right, rgb(41, 39, 39), 70%, rgb(177, 17, 17) );
  height: 70vh;
  width: 90vw;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &__title {
    margin-top: 1rem;
    color: crimson;
    text-shadow: rgb(255, 255, 255) 1px 1px 10px;
  }

  &__form {
    height: 50vh;
    width: 100%;
    padding: auto;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
  }

  &__form--title {
    display: block;
    color: crimson;
    margin-bottom: 0.5rem;
    text-align: left;
  }

  &__form--input {
    width: 80vw;
    height: 30px;
    border: 1px solid crimson;
    box-shadow: rgb(255, 255, 255) 1px 1px 10px;
    
    
  }

  &__form--button {
    width: 80vw;
    height: 30px;
    margin-bottom: 1rem;
    color: crimson;
  }

  &__create--account {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__create--account--texte {    
    color: crimson;
    margin-bottom: 1rem;
    font-size: large;
  }

  &__create--account--link {
    border: 1px solid black;
    border-radius: 5%;
    background-color: black;
    padding: 0.5rem;
    color: crimson;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: large;
  }

  
}

@media screen and (min-width: 1024px) {

  .login{
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 5rem;
    margin-bottom: 1.5rem;
    
    &__create--account {
      display: flex;
      flex-wrap:nowrap;
      justify-content: space-around;
    }
  
    &__create--account--texte {    
      color: crimson;
      margin-bottom: 1rem;
      font-size: large;
    }
  
    &__create--account--link {
      border: 1px solid black;
      border-radius: 5%;
      background-color: black;
      padding: 0.5rem;
      color: crimson;
      margin-bottom: 1rem;
      margin-left: 1rem;
      font-size: large;
    }
  }
    
    
}
