@use '../../styles/vars';
.classes{
  &__cards{
  margin-top: 5em;
  }
  &__title {
    font-family: vars.$policeTitle;
    font-size: 2.5rem;
    text-align: center;
  }
}

@media screen and (min-width: 768px)
{
  .classes{
  // display: flex;
  flex-wrap: wrap;
  position: relative;
  
  &__cards{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
    
}
.classes::before{
  margin-top: 5em;
  content: "";
  background-image: url(../../assets/images/dragon.png);
  background-repeat: no-repeat;
  background-size: 180vw;
  bottom: 0;
  left: 0;
  margin-left: -20vw;
  margin-top: 15vw;
  opacity: .8;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

}
@media screen and (min-width: 990px){
  .classes{
    margin-top: vars.$gutter * 4;
    
    &--right{
      margin-top: 64px;
      flex-wrap: wrap;
      position: relative;
    }
      &__cards{
        margin-left: 2em;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 100%;
      }
      &::before{
        
        margin-top: 5em;
        content: "";
        background-image: url(../../assets/images/war-dwarf.png);
        background-repeat: no-repeat;
        background-size: 37vw;
        bottom: 0;
        left: 0;
        margin-left: 65vw;
        margin-top: 48vw;
        opacity: .8;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
      }    
      &--right::before{
        
        margin-top: 5em;
        content: "";
        background-image: url(../../assets/images/war-dwarf.png);
        background-repeat: no-repeat;
        background-size: 37vw;
        bottom: 0;
        left: 0;
        margin-left: 65vw;
        margin-top: 48vw;
        opacity: .8;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
      }       
}
 
    .card{
      
      width: 30%;
      
      &__img {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top:-3em;
        height: 17em;
        
    }
  
    &__excerpt{
      margin-left: inherit;
    }
    
  }
}
@media screen and (min-width: 1440px){
 .classes{
  &::before{
     margin-top: 5em;
    content: "";
    background-image: url(../../assets/images/war-dwarf.png);
    background-repeat: no-repeat;
    background-size: 24vw;
    bottom: 0;
    left: 0;
    margin-left: 66vw;
    margin-top: 36vw;
    opacity: .8;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }  
  &--right::before{
    margin-top: 5em;
   content: "";
   background-image: url(../../assets/images/war-dwarf.png);
   background-repeat: no-repeat;
   background-size: 24vw;
   bottom: 0;
   left: 0;
   margin-left: 66vw;
   margin-top: 36vw;
   opacity: .8;
   position: absolute;
   right: 0;
   top: 0;
   z-index: -1;
 }  
}
}
@media screen and (min-width: 1824px){
  .classes{
    &::before{
      margin-top: 5em;
     content: "";
     background-image: url(../../assets/images/war-dwarf.png);
     background-repeat: no-repeat;
     background-size: 44vw;
     bottom: 0;
     left: 0;
     margin-left: 54vw;
     margin-top: -6vw;
     opacity: .8;
     position: absolute;
     right: 0;
     top: 0;
     z-index: -1;
   }  
   &--right::before{
     margin-top: 5em;
    content: "";
    background-image: url(../../assets/images/war-dwarf.png);
    background-repeat: no-repeat;
    background-size: 44vw;
    bottom: 0;
    left: 0;
    margin-left: 54vw;
    margin-top: -6vw;
    opacity: .8;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }  
    
    
  &__cards::before{
  margin-left: 51vw;
  background-size: 70vw;
  margin-top: -1vw;
  }
    }
  }
