.classes{
  &__cards{
   margin-top: 5em;
   
  }
 
}


@media screen and (min-width: 990px){
  .classes{
      &__cards{
        margin-left: 2em;
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }
      &__cards::before{
        margin-top: 5em;
        content: "";
        background-image: url(../../assets/images/war-dwarf.png);
        background-repeat: no-repeat;
        background-size: 33vw;
        bottom: 0;
        left: 0;
        margin-left: 62vw;
        margin-top: 38vw;
        opacity: .5;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
      }

     
}
    .card{
      
      width: 30%;
    
      
      
      &__img {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top:-3em;
        height: 17em;
        
    }
  
    &__excerpt{
      margin-left: inherit;
    }
    
  }
}
