@use '../../../styles/vars';

.inspiration {
  border: 1px solid black;
  box-shadow: 1em 0 .4em vars.$colorTitle;
  margin: vars.$gutter * 2 ;
  padding: vars.$gutter;
  display: flex;
  flex-direction: column;
  &__select {
    width: 50%;
    margin: vars.$gutter;
    margin-left: auto;
    margin-right: auto;
  }
  &__paragraphe {
    text-align: left;
    width: 90%;
  }
  &__title {
    padding-top: vars.$gutter;
  }
}
@media screen and (min-width: 990px){
  .inspiration {
    
    &__paragraphe {
      text-align: center;
      padding-top: vars.$gutter;
      margin-left: auto;
      margin-right: auto;
      
    }
    &__title {
      padding-top: vars.$gutter;
      
    }
  }  
}
